.history-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-height: 600px;
    overflow-y: auto; /* Allow scrolling if the content is too long */
  }
  
  .history-container h2 {
    margin-bottom: 10px;
  }
  
  .history-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .history-container li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .history-container li strong {
    color: #333;
  }
  .export-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .export-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .export-buttons button:hover {
    background-color: #034c9b;
  }
  
  